body {
  margin: 0;
}

.main-container, .draggable-div {
  display: flex;
  justify-content: center;
}

.main-container {
  border: 1px solid #5cb85c;
  font-family: helvetica, sans-serif;
  text-transform: full-width;
}

.drag-container, .droppable-div {
  width: 100%;
  margin: auto 0;
  padding: 1rem;
}

.draggable-div, .droppable-div {
  color: #f7f7f7;
}

.drag-container {
  color: #000;
}

.draggable-div {
  margin: 0.5rem 0;
  padding: 1rem;
}

.droppable-div {
  background-color: #0275d8;
}

/* new test */

.container{
  width: 500px;
  margin: auto;
}

.list{
  list-style: none;
}

.list li{
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 8px 6px -6px black;
  margin: 0.75rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

li:hover {
  transform: scale(1.075);
  transition: transform 0.4s ease-in;
}
